# https://block.github.io/goose/docs/guides/config-files/
GOOSE_MODEL: default_model
OPENAI_BASE_PATH: v1/chat/completions
GOOSE_PROVIDER: openai
OPENAI_HOST: http://localhost:5002
OPENAI_API_KEY: 
GOOSE_CONTEXT_LIMIT: 200000

# tool configuration
GOOSE_CLI_MIN_PRIORITY: 0.0
# for models that dont have tool calling support
GOOSE_TOOLSHIM: true

# recipe configuration
GOOSE_RECIPE_GITHUB_REPO: "block/goose-recipes"

GOOSE_CONTEXT_STRATEGY: "summarize"

extensions:
  # builtin ones start here
  computercontroller:
    display_name: Computer Controller
    enabled: true
    name: computercontroller
    timeout: 300
    type: builtin
  developer:
    display_name: Developer Tools
    enabled: true
    name: developer
    timeout: 300
    type: builtin
  memory:
    display_name: Memory
    enabled: true
    name: memory
    timeout: 300
    type: builtin
  tutorial:
    bundled: true
    display_name: Tutorial
    enabled: false
    name: tutorial
    timeout: 300
    type: builtin
  # mcp ones start here
  mcp-server-filesystem:
    args:
    - ~/.goose/more/
    cmd: mcp-server-filesystem
    description: null
    enabled: true
    envs: {}
    name: mcp-server-filesystem
    timeout: 300
    type: stdio
  mcp-server-git:
    args: []
    cmd: mcp-server-git
    description: null
    enabled: true
    envs: {}
    name: mcp-server-git
    timeout: 300
    type: stdio
  mcp-server-playwright:
    cmd: mcp-server-playwright
    description: null
    enabled: true
    envs: {}
    name: mcp-server-playwright
    timeout: 2000
    type: stdio
    args: []
  mcp-server-sequential-thinking:
    args: []
    cmd: mcp-server-sequential-thinking
    description: null
    enabled: true
    envs: {}
    name: mcp-server-sequential-thinking
    timeout: 300
    type: stdio
  mcp-tavily-search:
    name: mcp-tavily-search
    cmd: npx
    args:
    - -y
    - mcp-tavily-search
    enabled: true
    envs: {}
    type: stdio
    timeout: 7000
  fetch:
    args:
    - mcp-server-fetch
    available_tools: []
    bundled: null
    cmd: uvx
    description: null
    enabled: true
    env_keys: []
    envs: {}
    name: fetch
    timeout: 300
    type: stdio0
  mcp-server-searxng:
    cmd: uvx
    - mcp-searxng
    description: "search with a searxng instance"
    enabled: true
    envs: { SEARXNG_URL: "https://searx.mahmoodsh.com/" }
    name: mcp-server-searxng
    timeout: 7000
    type: stdio